@import "./variables";


div.task-dashboard {
  margin: 20px;

  .progress-container {
    height: 30px;
  }
  Button {
    margin-right: 10px;
    &.add-new {
      i {
        padding-right: 5px;
      }
    }
  }
  .toolbar {
    .toolbar-option {
      margin-bottom: 10px;
    }
    .align__right {
      text-align: end;
    }
    span {
      font-weight: bold;
    }
  }
  .card-row {
    margin: 20px;
    .card-col {
      margin-bottom: 10px;
    }
    h5 {
      color: $white-color;
      background: $dark-color;
    }
    table {
      transition: all 1s ease-out;
      td, th {
        transition: font-size 500ms ease-in-out, padding 500ms ease-in-out;

        .grid-check {
          input {
            cursor: pointer;
          }
        }
      }
      tr {
        &.selected-row {
          cursor: pointer;
          .status-btn {
            width: 110px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  div.task-dashboard {
    .toolbar {
      .align__right {
        text-align: left;
      }
    }
  }
}