@import "./variables";

header.header-container {
  background-image: url(../images/banner3.png);
  height: 150px;
  background-size: cover;
  background-position: inherit;

  .header-title {
    color: $white-color;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 140px;
    Left: 50%;
    transform: translate(-50%, -50%);
  }
}